<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hansung.android.restaurants">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCUzbLG9gFwDnBahiKyRJ3HWKPBFN0cpDA" />
        <activity android:name=".AnimationActivity"
            android:label="AnimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CallActivity"
            android:label="Second Activity">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity"></activity>
        <activity android:name=".InsertResultActivity"
             />

        <activity android:name=".MainActivity"
            android:label="MainActivity"/>
        <activity android:name=".MenuActivity"
            android:label="MenuActivity"/>
        <activity android:name=".ListActivity"
            android:label="ListActivity"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hansung.android.restaurants"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>









</manifest>